  <h1>My Cart</h1>
  <p>You've selected <span class="cart-count">
  	<%= current_user.cart_count %></span> products</p>

  <table id="cart" class="table table-hover table-condensed">
            <thead>
            <tr>
              <th style="width:50%">Name</th>
              <th style="width:10%">Price</th>
              <th style="width:8%">Quantity</th>
              <th style="width:22%" class="text-center">Subtotal</th>
              <th style="width:10%"></th>
            </tr>
          </thead>
          <tbody>
           <% @cart_products.each do |product| %> 
            <tr>
              <td data-th="Product">
                <div class="row">
                  <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/></div>
                  <div class="col-sm-10">
                    <h4 class="nomargin"><%= product.name %></h4> 
                  </div>
                </div>
              </td>
              <td data-th="Price" class="price">$<%= product.price %></td>
              <td data-th="Quantity">
                <input type="number" class="form-control text-center" value="<%= quantity(current_user.id, product.id) %>">
              </td>
              <td data-th="Subtotal" class="text-center">$<span id="subtotal"><%= subtotal(current_user.id, product.id, product.price) %></span></td>
              <td class="actions" data-th="">
                <button class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></button>
                <%=link_to "", class: "btn btn-danger btn-sm", 
                   data: {target: @cart_action, removeUrl: remove_from_cart_path(product.id) } do %>
                    <i class="fa fa-trash-o"></i>
                    <span><%=@cart_action%></span>
                <% end %>              
              </td>
            </tr>
          <% end %>
          </tbody>
          <tfoot> 
            <tr>
              <td><a href="/" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
              <td colspan="2" class="hidden-xs"></td>
              <td class="hidden-xs text-center"><strong>Total $<span id="total"></span></strong></td>
              <td><a href="#" id="checkout" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
            </tr>
          </tfoot>
        </table>
